/* COMMON BACKGROUND FOR LOGIN & DASHBOARD */
.common-bg {
    position: relative;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* BLUE OVERLAY */
.common-bg::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(99, 161, 208, 0.45);
    z-index: 1;
}

/* CONTENT ABOVE OVERLAY */
.common-content {
    position: relative;
    z-index: 2;
}