.chat-container {
    max-width: 1100px;
    height: 78vh;
    margin: auto;
    background: rgba(255, 255, 255, 0.96);
    border-radius: 20px;
    border: 1px solid rgba(8, 66, 152, 0.25);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.chat-header {
    background: #084298;
    color: white;
    padding: 20px 25px;
    font-size: 22px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 12px;
}

.chat-box {
    flex-grow: 1;
    overflow-y: auto;
    padding: 30px;
    background: white;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.msg {
    max-width: 75%;
    padding: 14px 18px;
    font-size: 16px;
    border-radius: 16px;
}

.doctor-msg {
    background: #e6ecfa;
    color: #084298;
    border-left: 5px solid #084298;
    align-self: flex-start;
}

.patient-msg {
    background: #084298;
    color: white;
    align-self: flex-end;
}

.chat-footer {
    padding: 18px;
    background: #f0f4fa;
    border-top: 1px solid rgba(8, 66, 152, 0.28);
    display: flex;
    gap: 15px;
}

.send-btn {
    height: 55px;
    width: 55px;
    background: #084298;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.send-btn i {
    color: white;
    font-size: 22px;
}