    /* MAIN BACKGROUND */
    .login-page {
        background: url("../../assets/images/doctor.jpeg") no-repeat center center fixed;
        background-size: cover;
        position: relative;
        min-height: 100vh;
    }

    /* DARK OVERLAY */
    .login-page::before {
        content: "";
        position: absolute;
        inset: 0;
        background: rgba(99, 161, 208, 0.45);
        z-index: 1;
    }


    /* Bring content above overlay */
    .page-content {
        position: relative;
        z-index: 2;
    }

    /* Login Card Animation */
    .login-card {
        animation: slideDown 0.6s ease-out;
    }

    @keyframes slideDown {
        from {
            transform: translateY(-30px);
            opacity: 0;
        }

        to {
            transform: translateY(0);
            opacity: 1;
        }
    }