.navbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.page-content {
  padding-top: 90px; /* navbar height */
}
.navbar-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  transition: transform 0.3s ease-in-out;
}

/* SHOW */
.navbar-show {
  transform: translateY(0);
}

/* HIDE */
.navbar-hide {
  transform: translateY(-100%);
}
